body{
    padding: 0px;
}

	.item{
		width: 100%;
		margin-bottom: 10px;
	}

		.item-inner{
			border: 1px solid #ccc;
			padding: 10px;
			overflow: hidden;
		}

			.left{
				width: 90px;
				height: 90px;
				float: left;
				font-size: 2em;
				font-weight: bold;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;				
			}

			.right{
				width: calc(100% - 100px);
				float: right;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;		
				min-height: 90px;		
			}

				.line{
					width: 100%;
				}
